.main-nav {
  padding: 20px;
  min-height: 70px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 40, 95)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-logo-text {
  color: #00285F;
  font-weight: 500;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  column-gap: 50px;
  justify-content: flex-end;
}

.active {
  font-weight: 700;
}